In [1]:
import geopandas as gpd
import pandas as pd
import os

In [ ]:
# show all columns
pd.options.display.max_columns = None

## Join Bike volume data to links

In [24]:
# read in links csv
links = gpd.read_file(r".\Data\links.csv")

# read in links shapefile
links_shp = gpd.read_file(r".\Data\links.shp")

In [3]:
# read in disc trips
bike_volume = pd.read_csv(r".\Data\bike_vol.csv")

# fill bike volume NAs with -1
bike_volume['bike_vol'] = bike_volume['bike_vol'].fillna(-1)

# maint_trip = gpd.read_file(r"..\Data\maint_trip.csv")
# recreation_long = gpd.read_file(r"..\Data\rec_long_trip.csv")
# work_trip = gpd.read_file(r"..\Data\work_trip.csv")

In [4]:
# Create FTkey and TF key to use for joining to links
bike_volume['FTkey'] = bike_volume['from_node'].astype(str) + "_"+ bike_volume['to_node'].astype(str)
bike_volume['TFkey'] = bike_volume['to_node'].astype(str) + "_"+ bike_volume['from_node'].astype(str) 
bike_volume.head(15)

    from_node  to_node   bike_vol   FTkey   TFkey
0           0      142  -1.000000   0_142   142_0
1           0     2598  -1.000000  0_2598  2598_0
2           1      436   0.706326   1_436   436_1
3           2       67  -1.000000    2_67    67_2
4           3      643   1.497966   3_643   643_3
5           3      646   1.036347   3_646   646_3
6           4       65   5.884999    4_65    65_4
7           4      187  90.814539   4_187   187_4
8           4      787  -1.000000   4_787   787_4
9           5      391  22.281554   5_391   391_5
10          5      394  16.981465   5_394   394_5
11          5      480  16.520653   5_480   480_5
12          6      108  27.113390   6_108   108_6
13          6      502  10.075575   6_502   502_6
14          6      769   5.012054   6_769   769_6

In [5]:
# Create FTkey and TF key to use for joining to bike volumes
links['FTkey'] = links['from_node'].astype(str) + "_" + links['to_node'].astype(str)
links['TFkey'] = links['to_node'].astype(str) + "_" + links['from_node'].astype(str) 
links.head(15)

,link_id,from_node,from_x,from_y,to_node,to_x,to_y,Name,Oneway,Speed,...,Bike_Lane,Bike_Path,Bike_Blvd,from_z,to_z,Slope_AB,Slope_BA,geometry,FTkey,TFkey
0,0,29887,427220.5,4495982.2,39199,427276.6,4495981.500000001,7700 S,B,25,...,0,0,0,1375,1376,-1.782392446287962,1.782392446287962,None,29887_39199,39199_29887
1,1,53961,427969.0,4514138.1,68652,427970.2,4514263.8,U ST,B,25,...,0,0,0,1432,1446,-11.137121788867466,11.137121788867466,None,53961_68652,68652_53961
2,2,53962,420621.3,4499516.7,66709,420620.3500000001,4499466.300000001,REDWOOD RD,B,35,...,0,0,0,1329,1329,0.0,0.0,None,53962_66709,66709_53962
3,3,2710,448184.3,4447677.500000001,4108,448185.1,4447751.7,,B,25,...,0,0,0,1384,1384,0.0,0.0,None,2710_4108,4108_2710
4,4,53963,417874.4,4503117.3,57673,417788.7,4503118.1,4400 S,B,25,...,0,0,0,1331,1332,-1.1668103066131832,1.1668103066131832,None,53963_57673,57673_53963
5,5,25892,414154.1,4495898.6,27348,413985.2,4495900.4,7800 S,B,40,...,1,0,0,1444,1448,-2.368130768394352,2.368130768394352,None,25892_27348,27348_25892
6,6,77560,428711.56999999995,4523555.71,78511,429089.4,4523337.48,MAPLE HILLS DR,B,25,...,0,0,0,1743,1732,2.461903653023966,-2.461903653023966,None,77560_78511,78511_77560
7,7,25893,412969.8,4482393.699999999,28854,412791.7,4482396.7,SOL VISTA CIR,B,25,...,0,0,0,1599,1587,6.647155953051449,-6.647155953051449,None,25893_28854,28854_25893
8,8,98270,421549.8899999999,4572942.45,99610,421609.0,4573092.03,MOUNTAIN RD,B,35,...,0,0,0,1435,1434,0.6214762990132459,-0.6214762990132459,None,98270_99610,99610_98270
9,9,87213,417974.9900000001,4557427.56,91075,418019.0899999999,4557292.56,100 E,B,25,...,0,0,0,1435,1437,-1.3870519815046582,1.3870519815046582,None,87213_91075,91075_87213
10,10,53964,429166.2,4497777.2,69439,429323.2,4497813.699999999,LA CRESTA DR,B,25,...,0,0,0,1365,1367,-1.217463526212028,1.217463526212028,None,53964_69439,69439_53964
11,11,77561,426091.6,4531420.550000001,82856,426092.5,4531496.399999999,75 E,B,25,...,0,0,0,1313,1313,0.0,0.0,None,77561_82856,82856_77561
12,12,87214,422454.9,4539338.7,91380,422330.3,4539367.4,1290 N,B,25,...,0,0,0,1313,1312,0.7642347037581131,-0.7642347037581131,None,87214_91380,91380_87214
13,13,29888,419614.4,4495142.8,31726,419591.8,4495078.300000001,CREEKWOOD DR,B,25,...,0,0,0,1347,1348,-1.446833671717258,1.446833671717258,None,29888_31726,31726_29888
14,14,29889,425410.8,4495522.1,49626,425421.9,4495423.0,TENNYSON CIR,B,25,...,0,0,0,1348,1350,-1.9548387089915231,1.9548387089915231,None,29889_49626,49626_29889

In [ ]:
# examine duplicates
# duplicates = pd.concat(g for _, g in bike_volume.groupby("key") if len(g) > 1)

In [76]:
# duplicates

,from_node,to_node,bike_vol,key,FTkey,TFkey
241198,100329,100331,127.792837,100329_100331,100329_100331,100331_100329
241199,100329,100331,127.792837,100329_100331,100329_100331,100331_100329
241206,100331,100329,133.504530,100331_100329,100331_100329,100329_100331
241207,100331,100329,133.504530,100331_100329,100331_100329,100329_100331
242515,100823,100830,NaN,100823_100830,100823_100830,100830_100823
...,...,...,...,...,...,...
25695,9917,9259,0.042230,9917_9259,9917_9259,9259_9917
25725,9928,9564,57.295746,9928_9564,9928_9564,9564_9928
25726,9928,9564,57.295746,9928_9564,9928_9564,9564_9928
25907,9988,9988,NaN,9988_9988,9988_9988,9988_9988
25908,9988,9988,NaN,9988_9988,9988_9988,9988_9988

In [6]:
# Drop duplicates
bike_vol_no_dup_ft = bike_volume.drop_duplicates(subset=['FTkey'], keep=False)
bike_vol_no_dup_tf = bike_volume.drop_duplicates(subset=['TFkey'], keep=False)

print(bike_vol_no_dup_ft.shape)
print(bike_vol_no_dup_tf.shape)
# duplicates = pd.concat(g for _, g in bike_vol_no_dup.groupby(['FTkey']) if len(g) > 1)
# duplicates

(251692, 5)
(251692, 5)

In [7]:
# copy the links table
links2 = links[['link_id', 'FTkey', 'TFkey']].copy()

# join the links with the bike volumes using the common keys
link_bike_vol_ft = links2.merge(bike_vol_no_dup_ft, left_on='FTkey', right_on='FTkey', how='left')
link_bike_vol_tf = links2.merge(bike_vol_no_dup_tf, left_on='TFkey', right_on='TFkey', how='left')

# examine the results
print(links2.shape)
print(link_bike_vol_ft.shape)
print(link_bike_vol_tf.shape)

(126653, 3)
(126653, 7)
(126653, 7)

In [9]:
link_bike_vol_ft.head(15)

,link_id,FTkey,TFkey_x,from_node,to_node,bike_vol,TFkey_y
0,0,29887_39199,39199_29887,29887.0,39199.0,25.586378,39199_29887
1,1,53961_68652,68652_53961,53961.0,68652.0,-1.000000,68652_53961
2,2,53962_66709,66709_53962,53962.0,66709.0,-1.000000,66709_53962
3,3,2710_4108,4108_2710,2710.0,4108.0,-1.000000,4108_2710
4,4,53963_57673,57673_53963,53963.0,57673.0,113.308955,57673_53963
5,5,25892_27348,27348_25892,25892.0,27348.0,62.927736,27348_25892
6,6,77560_78511,78511_77560,77560.0,78511.0,2.084416,78511_77560
7,7,25893_28854,28854_25893,25893.0,28854.0,-1.000000,28854_25893
8,8,98270_99610,99610_98270,98270.0,99610.0,13.655323,99610_98270
9,9,87213_91075,91075_87213,87213.0,91075.0,16.616626,91075_87213
10,10,53964_69439,69439_53964,53964.0,69439.0,291.576153,69439_53964
11,11,77561_82856,82856_77561,77561.0,82856.0,4.664374,82856_77561
12,12,87214_91380,91380_87214,87214.0,91380.0,-1.000000,91380_87214
13,13,29888_31726,31726_29888,29888.0,31726.0,3.105451,31726_29888
14,14,29889_49626,49626_29889,29889.0,49626.0,-1.000000,49626_29889

In [10]:
link_bike_vol_tf.head(15)

,link_id,FTkey_x,TFkey,from_node,to_node,bike_vol,FTkey_y
0,0,29887_39199,39199_29887,29887.0,39199.0,25.586378,29887_39199
1,1,53961_68652,68652_53961,53961.0,68652.0,-1.000000,53961_68652
2,2,53962_66709,66709_53962,53962.0,66709.0,-1.000000,53962_66709
3,3,2710_4108,4108_2710,2710.0,4108.0,-1.000000,2710_4108
4,4,53963_57673,57673_53963,53963.0,57673.0,113.308955,53963_57673
5,5,25892_27348,27348_25892,25892.0,27348.0,62.927736,25892_27348
6,6,77560_78511,78511_77560,77560.0,78511.0,2.084416,77560_78511
7,7,25893_28854,28854_25893,25893.0,28854.0,-1.000000,25893_28854
8,8,98270_99610,99610_98270,98270.0,99610.0,13.655323,98270_99610
9,9,87213_91075,91075_87213,87213.0,91075.0,16.616626,87213_91075
10,10,53964_69439,69439_53964,53964.0,69439.0,291.576153,53964_69439
11,11,77561_82856,82856_77561,77561.0,82856.0,4.664374,77561_82856
12,12,87214_91380,91380_87214,87214.0,91380.0,-1.000000,87214_91380
13,13,29888_31726,31726_29888,29888.0,31726.0,3.105451,29888_31726
14,14,29889_49626,49626_29889,29889.0,49626.0,-1.000000,29889_49626

In [11]:
# join both the tf and ft table together to confirm they are the same
links_bv_both_dir = link_bike_vol_ft.merge(link_bike_vol_tf, left_on='link_id', right_on='link_id', how='inner')
print(links_bv_both_dir.shape)
print(links_bv_both_dir.columns)

(126653, 13)
Index(['link_id', 'FTkey', 'TFkey_x', 'from_node_x', 'to_node_x', 'bike_vol_x',
       'TFkey_y', 'FTkey_x', 'TFkey', 'from_node_y', 'to_node_y', 'bike_vol_y',
       'FTkey_y'],
      dtype='object')

In [ ]:
# change field names
links_bv_both_dir = links_bv_both_dir[['link_id', 'TFkey_x', 'FTkey_x','from_node_x', 'to_node_x', 'bike_vol_x', 'bike_vol_y']].copy()
links_bv_both_dir.columns = ['link_id', 'TFkey', 'FTkey','from_node', 'to_node', 'bvol_ft', 'bvol_tf']

In [12]:
links_bv_both_dir.head(15)

,link_id,FTkey,TFkey_x,from_node_x,to_node_x,bike_vol_x,TFkey_y,FTkey_x,TFkey,from_node_y,to_node_y,bike_vol_y,FTkey_y
0,0,29887_39199,39199_29887,29887.0,39199.0,25.586378,39199_29887,29887_39199,39199_29887,29887.0,39199.0,25.586378,29887_39199
1,1,53961_68652,68652_53961,53961.0,68652.0,-1.000000,68652_53961,53961_68652,68652_53961,53961.0,68652.0,-1.000000,53961_68652
2,2,53962_66709,66709_53962,53962.0,66709.0,-1.000000,66709_53962,53962_66709,66709_53962,53962.0,66709.0,-1.000000,53962_66709
3,3,2710_4108,4108_2710,2710.0,4108.0,-1.000000,4108_2710,2710_4108,4108_2710,2710.0,4108.0,-1.000000,2710_4108
4,4,53963_57673,57673_53963,53963.0,57673.0,113.308955,57673_53963,53963_57673,57673_53963,53963.0,57673.0,113.308955,53963_57673
5,5,25892_27348,27348_25892,25892.0,27348.0,62.927736,27348_25892,25892_27348,27348_25892,25892.0,27348.0,62.927736,25892_27348
6,6,77560_78511,78511_77560,77560.0,78511.0,2.084416,78511_77560,77560_78511,78511_77560,77560.0,78511.0,2.084416,77560_78511
7,7,25893_28854,28854_25893,25893.0,28854.0,-1.000000,28854_25893,25893_28854,28854_25893,25893.0,28854.0,-1.000000,25893_28854
8,8,98270_99610,99610_98270,98270.0,99610.0,13.655323,99610_98270,98270_99610,99610_98270,98270.0,99610.0,13.655323,98270_99610
9,9,87213_91075,91075_87213,87213.0,91075.0,16.616626,91075_87213,87213_91075,91075_87213,87213.0,91075.0,16.616626,87213_91075
10,10,53964_69439,69439_53964,53964.0,69439.0,291.576153,69439_53964,53964_69439,69439_53964,53964.0,69439.0,291.576153,53964_69439
11,11,77561_82856,82856_77561,77561.0,82856.0,4.664374,82856_77561,77561_82856,82856_77561,77561.0,82856.0,4.664374,77561_82856
12,12,87214_91380,91380_87214,87214.0,91380.0,-1.000000,91380_87214,87214_91380,91380_87214,87214.0,91380.0,-1.000000,87214_91380
13,13,29888_31726,31726_29888,29888.0,31726.0,3.105451,31726_29888,29888_31726,31726_29888,29888.0,31726.0,3.105451,29888_31726
14,14,29889_49626,49626_29889,29889.0,49626.0,-1.000000,49626_29889,29889_49626,49626_29889,29889.0,49626.0,-1.000000,29889_49626

In [17]:
# compare elements of bike volumes (from-to, to-from) to confirm they are the same
links_bv_both_dir['bike_vol_x'].equals(links_bv_both_dir['bike_vol_y'])

True

In [26]:
links_shp.columns

Index(['Join_Count', 'TARGET_FID', 'Name', 'Oneway', 'Speed', 'AutoNetwor',
       'BikeNetwor', 'PedNetwork', 'SourceData', 'DriveTime', 'BikeTime',
       'Pedestrian', 'Length_Mil', 'ConnectorN', 'RoadClass', 'AADT',
       'AADT_YR', 'BIKE_L', 'BIKE_R', 'Shape_Leng', 'id', 'Start_Key',
       'End_Key', 'Bike_Lane', 'Bike_Path', 'Bike_Blvd', 'SIGID', 'Signal',
       'BUFF_DIST', 'ORIG_FID', 'geometry'],
      dtype='object')

In [33]:
# export final result to csv
links3 = links_bv_both_dir[['link_id', 'bike_vol_x']].copy()
links3.columns = ['link_id', 'bike_vol']
links3['link_id'] = links3['link_id'].astype('int64')
# # export to csv
# links3.to_csv(r".\Results\links_bv.csv")

# join bike vol to links shapefile
links4 = links_shp.merge(links3, left_on='TARGET_FID', right_on='link_id', how='outer')
links5= links4[[ 'Name', 'Oneway', 'Speed', 'AutoNetwor',
       'BikeNetwor', 'PedNetwork', 'SourceData', 'DriveTime', 'BikeTime',
       'Pedestrian', 'Length_Mil', 'ConnectorN', 'RoadClass', 'AADT',
       'AADT_YR', 'BIKE_L', 'BIKE_R', 'Shape_Leng', 'Start_Key',
       'End_Key', 'Bike_Lane', 'Bike_Path', 'Bike_Blvd', 'SIGID', 'Signal','bike_vol', 'geometry']]

# export to shape
links5.to_file(r".\Results\links_bv.shp")

## Summarize zone trips

In [ ]:
# read in zones
zones = gpd.read_file(r".\Data\microzones.shp")

In [39]:
# read in rec_fam_trip trip table
rec_fam_trip = pd.read_csv(r".\Data\rec_fam_trip.csv")

In [46]:
rec_fam_trip_sum = rec_fam_trip.groupby('azone')['bk'].sum()
rec_fam_trip_sum.head(100)

azone
0        1.851592129277801e-050.000471665069914606950.0...
1        3.5888360766283024e-053.529727498913291e-050.0...
10       0.00208768639108472370.000297251963750719971.1...
100      1.7699243623938925e-052.8729970548556208e-053....
1000     0.000345112988329662150.0062448180784454710.00...
                               ...
10082    0.00054907295575696361.4487615564321455e-050.0...
10083    0.00058329900483778911.5390690167012462e-050.0...
10084    0.000119719816089428870.00085182103266036240.0...
10085    0.00084732216621413640.00135524971052621250.00...
10086    0.00092146422697971990.0021720228207379120.003...
Name: bk, Length: 100, dtype: object