In [2]:
import geopandas as gpd
import pandas as pd
import os

In [3]:
# show all columns
pd.options.display.max_columns = None

## Join Bike volume data to links

In [4]:
# read in links csv
links = gpd.read_file(r".\Data\links.csv")

# read in links shapefile
links_shp = gpd.read_file(r".\Data\links.shp")
links.shape

(137188, 33)

In [5]:
# read in disc trips
bike_volume = pd.read_csv(r".\Data\bike_vol.csv")

# fill bike volume NAs with -1
bike_volume['bike_vol'] = bike_volume['bike_vol'].fillna(-1)

In [6]:
# Create FTkey and TF key to use for joining to links
bike_volume['FTkey'] = bike_volume['from_node'].astype(str) + "_"+ bike_volume['to_node'].astype(str)
bike_volume['TFkey'] = bike_volume['to_node'].astype(str) + "_"+ bike_volume['from_node'].astype(str) 
bike_volume.head(15)

    from_node  to_node  bike_vol   FTkey   TFkey
0           0      732 -1.000000   0_732   732_0
1           0     2638 -1.000000  0_2638  2638_0
2           1      190 -1.000000   1_190   190_1
3           2       78  1.529185    2_78    78_2
4           3        4  5.285967     3_4     4_3
5           3       79  5.461020    3_79    79_3
6           3      859  0.434075   3_859   859_3
7           4        3  3.682535     4_3     3_4
8           4        5  5.468313     4_5     5_4
9           4       16  0.888161    4_16    16_4
10          4      858 -1.000000   4_858   858_4
11          5        4  4.014472     5_4     4_5
12          5        6  5.468313     5_6     6_5
13          5        9 -1.000000     5_9     9_5
14          6        5  4.014472     6_5     5_6

In [7]:
# Create FTkey and TF key to use for joining to bike volumes
links['FTkey'] = links['from_node'].astype(str) + "_" + links['to_node'].astype(str)
links['TFkey'] = links['to_node'].astype(str) + "_" + links['from_node'].astype(str) 
links.head(15)

,link_id,from_node,from_x,from_y,to_node,to_x,to_y,Name,Oneway,Speed,AutoNetwork,BikeNetwork,PedNetwork,DriveTime,BikeTime,Pedestrian,Length_Miles,ConnectorN,RoadClass,AADT,Length_Meters,Signal,Sig_Count,BIKE_L,BIKE_R,Bike_Lane,Bike_Path,Bike_Blvd,from_z,to_z,Slope_AB,Slope_BA,geometry,FTkey,TFkey
0,0,3,415667.8,4417981.6,859,414354.0,4414210.7,TUNNEL RD,B,25,Y,Y,Y,6.0139143,13.6679870455,48.499308871000004,2.50579762498,N,"11 Other Local, Neighborhood, Rural Roads",0,4032.69162059,0,0,,,0,0,0,1457,1495,-0.9422986822493616,0.9422986822493616,None,3_859,859_3
1,1,4,418396.56999999995,4417981.61,858,419321.9,4414424.2,CROOKED CANYON RD,B,25,Y,Y,Y,6.072967911599999,13.8021997991,48.9755476742,2.5304032965,N,"11 Other Local, Neighborhood, Rural Roads",0,4072.29062267,0,0,,,0,0,0,1422,1554,-3.2414189514169327,3.2414189514169327,None,4_858,858_4
2,2,4,418396.56999999995,4417981.61,3,415667.8,4417981.6,17600 S,B,25,Y,Y,Y,4.08305525376,9.27967103127,32.927864949699995,1.70127302241,N,"11 Other Local, Neighborhood, Rural Roads",0,2737.9343780199993,0,0,,,0,0,0,1422,1457,-1.2783359703935293,1.2783359703935293,None,4_3,3_4
3,3,5,419795.95000000007,4418004.1,4,418396.56999999995,4417981.61,17600 S,B,25,Y,Y,Y,2.08720255344,4.74364216691,16.8322786568,0.869667730591,N,"11 Other Local, Neighborhood, Rural Roads",0,1399.59497722,0,0,,,0,0,0,1419,1422,-0.2143477255083372,0.2143477255083372,None,5_4,4_5
4,4,6,419943.1500000001,4418007.76,5,419795.95000000007,4418004.1,17600 S,B,25,Y,Y,Y,0.2195992788,0.49908927,1.77096192581,0.0914996995397,N,"11 Other Local, Neighborhood, Rural Roads",0,147.254538013,0,0,,,0,0,0,1420,1419,0.6790962190324603,-0.6790962190324603,None,6_5,5_6
5,5,7,420247.80999999994,4418013.36,6,419943.1500000001,4418007.76,17600 S,B,25,Y,Y,Y,0.45441985296,1.03277239309,3.6646762335500003,0.189341605355,N,"11 Other Local, Neighborhood, Rural Roads",0,304.7158708,0,0,,,0,0,0,1422,1420,0.656349140840353,-0.656349140840353,None,7_6,6_7
6,6,8,421121.7299999999,4417752.880000001,7,420247.80999999994,4418013.36,17600 S,B,25,Y,Y,Y,1.4092988083199998,3.20295183709,11.3653129703,0.5872078368370001,N,"11 Other Local, Neighborhood, Rural Roads",0,945.019701332,0,0,,,0,0,0,1461,1422,4.126898089535035,-4.126898089535035,None,8_7,7_8
7,7,9,419795.92,4418080.34,5,419795.95000000007,4418004.1,12100 W,B,25,Y,Y,Y,0.11369598888,0.258399974727,0.916903136129,0.0473733287089,N,"11 Other Local, Neighborhood, Rural Roads",0,76.2400059045,0,0,,,0,0,0,1418,1419,-1.3116473275889082,1.3116473275889082,None,9_5,5_9
8,8,10,419942.7,4418081.87,9,419795.92,4418080.34,17580 S,B,25,Y,Y,Y,0.21890349648,0.497507946545,1.76535077806,0.09120979016889999,N,"11 Other Local, Neighborhood, Rural Roads",0,146.787973962,0,0,,,0,0,0,1419,1418,0.6812547193129573,-0.6812547193129573,None,10_9,9_10
9,9,10,419942.7,4418081.87,6,419943.1500000001,4418007.76,12070 W,B,25,Y,Y,Y,0.11052156888,0.251185383818,0.891302974839,0.0460506537266,N,"11 Other Local, Neighborhood, Rural Roads",0,74.1113661992,0,0,,,0,0,0,1419,1420,-1.3493206930123958,1.3493206930123958,None,10_6,6_10
10,10,11,423007.6700000001,4418636.27,857,423836.6099999999,4417024.550000001,GOSHEN CANYON RD,B,55,Y,Y,Y,1.3568785190200001,7.77378318188,24.073651143899998,1.2438053090899999,N,"8 Major Local Roads, Paved",300,2001.71123063,0,0,,,0,0,0,1430,1463,-1.648589441625598,1.648589441625598,None,11_857,857_11
11,11,12,419795.6,4418811.3,9,419795.92,4418080.34,12100 W,B,25,Y,Y,Y,1.09007373528,2.47744030745,8.79091722,0.45419738968400003,N,"11 Other Local, Neighborhood, Rural Roads",0,730.9600700449998,0,0,,,0,0,0,1415,1418,-0.41041913545500674,0.41041913545500674,None,12_9,9_12
12,12,13,420812.8899999999,4418814.6899999995,7,420247.80999999994,4418013.36,GOSHEN SLANT RD,B,25,Y,Y,Y,1.54317020544,3.50720501236,12.4449210116,0.642987585603,N,"11 Other Local, Neighborhood, Rural Roads",0,1034.7885331000002,0,0,,,0,0,0,1444,1422,2.126038248036322,-2.126038248036322,None,13_7,7_13
13,13,14,421617.56,4418826.959999999,13,420812.8899999999,4418814.6899999995,17200 S,B,25,Y,Y,Y,1.20060409488,2.72864567018,9.682291087740001,0.5002517061940001,N,"11 Other Local, Neighborhood, Rural Roads",0,805.077330924,0,0,,,0,0,0,1452,1444,0.9936933624523091,-0.9936933624523091,None,14_13,13_14
14,14,15,424622.5,4419254.899999999,855,424004.3,4419254.899999999,16920 S,B,25,Y,Y,Y,0.9231374404799999,2.09803963745,7.44465677806,0.384640600158,N,"11 Other Local, Neighborhood, Rural Roads",0,619.01923353,0,0,,,0,0,0,1463,1455,1.2923669518925036,-1.2923669518925036,None,15_855,855_15

In [ ]:
# examine duplicates
# duplicates = pd.concat(g for _, g in bike_volume.groupby("key") if len(g) > 1)

In [ ]:
# duplicates

In [8]:
# Drop duplicates
bike_vol_no_dup_ft = bike_volume.drop_duplicates(subset=['FTkey'], keep=False)
bike_vol_no_dup_tf = bike_volume.drop_duplicates(subset=['TFkey'], keep=False)

print(bike_vol_no_dup_ft.shape)
print(bike_vol_no_dup_tf.shape)
# duplicates = pd.concat(g for _, g in bike_vol_no_dup.groupby(['FTkey']) if len(g) > 1)
# duplicates

(271798, 5)
(271798, 5)

In [9]:
# copy the links table
links2 = links[['link_id', 'FTkey', 'TFkey']].copy()

# join the links with the bike volumes using the common keys
link_bike_vol_ft = links2.merge(bike_vol_no_dup_ft, left_on='FTkey', right_on='FTkey', how='left')
link_bike_vol_tf = links2.merge(bike_vol_no_dup_tf, left_on='TFkey', right_on='TFkey', how='left')

# examine the results
print(links2.shape)
print(link_bike_vol_ft.shape)
print(link_bike_vol_tf.shape)

(137188, 3)
(137188, 7)
(137188, 7)

In [11]:
link_bike_vol_ft.head(15)

   link_id   FTkey TFkey_x  from_node  to_node  bike_vol TFkey_y
0        0   3_859   859_3        3.0    859.0  0.434075   859_3
1        1   4_858   858_4        4.0    858.0 -1.000000   858_4
2        2     4_3     3_4        4.0      3.0  3.682535     3_4
3        3     5_4     4_5        5.0      4.0  4.014472     4_5
4        4     6_5     5_6        6.0      5.0  4.014472     5_6
5        5     7_6     6_7        7.0      6.0  4.014472     6_7
6        6     8_7     7_8        8.0      7.0  0.649141     7_8
7        7     9_5     5_9        9.0      5.0 -1.000000     5_9
8        8    10_9    9_10       10.0      9.0 -1.000000    9_10
9        9    10_6    6_10       10.0      6.0 -1.000000    6_10
10      10  11_857  857_11       11.0    857.0 -1.000000  857_11
11      11    12_9    9_12       12.0      9.0 -1.000000    9_12
12      12    13_7    7_13       13.0      7.0  4.722615    7_13
13      13   14_13   13_14       14.0     13.0  4.538327   13_14
14      14  15_855  855_15       15.0    855.0 -1.000000  855_15

In [10]:
link_bike_vol_tf.head(15)

   link_id FTkey_x   TFkey  from_node  to_node  bike_vol FTkey_y
0        0   3_859   859_3        3.0    859.0  0.434075   3_859
1        1   4_858   858_4        4.0    858.0 -1.000000   4_858
2        2     4_3     3_4        4.0      3.0  3.682535     4_3
3        3     5_4     4_5        5.0      4.0  4.014472     5_4
4        4     6_5     5_6        6.0      5.0  4.014472     6_5
5        5     7_6     6_7        7.0      6.0  4.014472     7_6
6        6     8_7     7_8        8.0      7.0  0.649141     8_7
7        7     9_5     5_9        9.0      5.0 -1.000000     9_5
8        8    10_9    9_10       10.0      9.0 -1.000000    10_9
9        9    10_6    6_10       10.0      6.0 -1.000000    10_6
10      10  11_857  857_11       11.0    857.0 -1.000000  11_857
11      11    12_9    9_12       12.0      9.0 -1.000000    12_9
12      12    13_7    7_13       13.0      7.0  4.722615    13_7
13      13   14_13   13_14       14.0     13.0  4.538327   14_13
14      14  15_855  855_15       15.0    855.0 -1.000000  15_855

In [14]:
# join both the tf and ft table together to confirm they are the same
links_bv_both_dir = link_bike_vol_ft.merge(link_bike_vol_tf, left_on='link_id', right_on='link_id', how='inner')
print(links_bv_both_dir.shape)
print(list(links_bv_both_dir.columns))

(137188, 13)
['link_id', 'FTkey', 'TFkey_x', 'from_node_x', 'to_node_x', 'bike_vol_x', 'TFkey_y', 'FTkey_x', 'TFkey', 'from_node_y', 'to_node_y', 'bike_vol_y', 'FTkey_y']

In [15]:
# change field names
links_bv_both_dir = links_bv_both_dir[['link_id', 'TFkey_x', 'FTkey_x','from_node_x', 'to_node_x', 'bike_vol_x', 'bike_vol_y']].copy()
links_bv_both_dir.columns = ['link_id', 'TFkey', 'FTkey','from_node', 'to_node', 'bvol_ft', 'bvol_tf']

In [16]:
links_bv_both_dir.head(15)

   link_id   TFkey   FTkey  from_node  to_node   bvol_ft   bvol_tf
0        0   859_3   3_859        3.0    859.0  0.434075  0.434075
1        1   858_4   4_858        4.0    858.0 -1.000000 -1.000000
2        2     3_4     4_3        4.0      3.0  3.682535  3.682535
3        3     4_5     5_4        5.0      4.0  4.014472  4.014472
4        4     5_6     6_5        6.0      5.0  4.014472  4.014472
5        5     6_7     7_6        7.0      6.0  4.014472  4.014472
6        6     7_8     8_7        8.0      7.0  0.649141  0.649141
7        7     5_9     9_5        9.0      5.0 -1.000000 -1.000000
8        8    9_10    10_9       10.0      9.0 -1.000000 -1.000000
9        9    6_10    10_6       10.0      6.0 -1.000000 -1.000000
10      10  857_11  11_857       11.0    857.0 -1.000000 -1.000000
11      11    9_12    12_9       12.0      9.0 -1.000000 -1.000000
12      12    7_13    13_7       13.0      7.0  4.722615  4.722615
13      13   13_14   14_13       14.0     13.0  4.538327  4.538327
14      14  855_15  15_855       15.0    855.0 -1.000000 -1.000000

In [17]:
# compare elements of bike volumes (from-to, to-from) to confirm they are the same
links_bv_both_dir['bvol_ft'].equals(links_bv_both_dir['bvol_tf'])

True

In [18]:
# Examine the column names
links_shp.columns

Index(['Join_Count', 'TARGET_FID', 'FID_BikeNe', 'Name', 'Oneway', 'Speed',
       'AutoNetwor', 'BikeNetwor', 'PedNetwork', 'SourceData', 'DriveTime',
       'BikeTime', 'Pedestrian', 'Length_Mil', 'ConnectorN', 'RoadClass',
       'AADT', 'AADT_YR', 'BIKE_L', 'BIKE_R', 'Shape_Leng', 'id', 'Start_Key',
       'End_Key', 'Bike_Lane', 'Bike_Path', 'Bike_Blvd', 'SIGID', 'Signal',
       'BUFF_DIST', 'ORIG_FID', 'geometry'],
      dtype='object')

In [19]:
# export final result to csv
links3 = links_bv_both_dir[['link_id', 'bvol_ft']].copy()
links3.columns = ['link_id', 'bike_vol']
links3['link_id'] = links3['link_id'].astype('int64')
# # export to csv
# links3.to_csv(r".\Results\links_bv.csv")

# join bike vol to links shapefile
links4 = links_shp.merge(links3, left_on='TARGET_FID', right_on='link_id', how='outer')
links5= links4[[ 'Name', 'Oneway', 'Speed', 'AutoNetwor',
       'BikeNetwor', 'PedNetwork', 'SourceData', 'DriveTime', 'BikeTime',
       'Pedestrian', 'Length_Mil', 'ConnectorN', 'RoadClass', 'AADT',
       'AADT_YR', 'BIKE_L', 'BIKE_R', 'Shape_Leng', 'Start_Key',
       'End_Key', 'Bike_Lane', 'Bike_Path', 'Bike_Blvd', 'SIGID', 'Signal','bike_vol', 'geometry']]

# export to shape
links5.to_file(r".\Results\links_bv.shp")

## Summarize zone trips by Attracting/Producing Zone

In [19]:
# read in zones
zones = gpd.read_file(r".\Data\microzones.shp")

### Read in trip tables, summarize, and format

In [32]:
def summarize_zones(trips_df, name):
    
    # summarize trips by attraction or production
    trips_sum_attr = pd.DataFrame(trips_df.groupby('azone')['bk'].sum())
    trips_sum_prod = pd.DataFrame(trips_df.groupby('pzone')['bk'].sum())
    
    # format tables
    trips_sum_attr['zone_id'] = trips_sum_attr.index
    trips_sum_attr.columns = [name + '_abk', 'zone_id']
    trips_sum_prod['zone_id'] = trips_sum_prod.index
    trips_sum_prod.columns = [name + '_pbk', 'zone_id']
    
    # join the attraction and production summary tables using zone id
    merged = trips_sum_attr.merge(trips_sum_prod, left_on='zone_id', right_on='zone_id', how='outer')
    return merged

In [33]:
# Discretionary trips
disc = pd.read_csv(r".\Data\disc_trip.csv")
disc_sum = summarize_zones(disc, 'disc')
del disc

# Maintenance trips (e.g. groceries)
maint = pd.read_csv(r".\Data\maint_trip.csv")
maint_sum = summarize_zones(maint, 'mnt')
del maint

# Maintenance trips non-home-based (e.g. groceries)
maint_nhb = pd.read_csv(r".\Data\maint_trip_nhb.csv")
maint_nhb_sum = summarize_zones(maint_nhb, 'mntnhb')
del maint_nhb

# Recreational family trips
rec_fam = pd.read_csv(r".\Data\rec_fam_trip.csv")
rec_fam_sum = summarize_zones(rec_fam, 'recfam')
del rec_fam

# Recreation long trips
rec_long = pd.read_csv(r".\Data\rec_long_trip.csv")
rec_long_sum = summarize_zones(rec_long, 'reclng')
del rec_long

# Recreation other trips
rec_oth = pd.read_csv(r".\Data\rec_oth_trip.csv")
rec_oth_sum = summarize_zones(rec_oth, 'recoth')
del rec_oth

# school (grade) trips
sch_grade = pd.read_csv(r".\Data\sch_grade_trip.csv")
sch_grade_sum = summarize_zones(sch_grade, 'grade')
del sch_grade

# school (university) trips
sch_univ = pd.read_csv(r".\Data\sch_univ_trip.csv")
sch_univ_sum = summarize_zones(sch_univ, 'univ')
del sch_univ

# Work trips
work = pd.read_csv(r".\Data\work_trip.csv")
work_sum = summarize_zones(work, 'wrk')
del work

# Work non-home-based trips
work_nhb = pd.read_csv(r".\Data\work_trip_nhb.csv")
work_nhb_sum = summarize_zones(work_nhb, 'wrknhb')
del work_nhb

In [31]:
sch_grade_sum.head()

   grade_abk  zone_id  grade_pbk
0   0.196707       13   0.058251
1   0.424136       18   0.815585
2   0.390727       19   0.088433
3   0.028652       20   0.379893
4   0.434071       22   0.438197

### Merge trip summarizes back to microzone shapefile

In [35]:
# Create a clean copy of zones dataset
zones2 = zones[['zone_id', 'CO_TAZID', 'TAZID', 'CO_FIPS', 'CO_NAME', 'geometry']].copy()
zones2['zone_id'] = zones2['zone_id'].astype('int64')

# Join trip tables
zones2 = zones2.merge(disc_sum, left_on='zone_id', right_on='zone_id', how='outer')
zones2 = zones2.merge(maint_sum, left_on='zone_id', right_on='zone_id', how='outer')
zones2 = zones2.merge(maint_nhb_sum, left_on='zone_id', right_on='zone_id', how='outer')
zones2 = zones2.merge(rec_fam_sum, left_on='zone_id', right_on='zone_id', how='outer')
zones2 = zones2.merge(rec_long_sum, left_on='zone_id', right_on='zone_id', how='outer')
zones2 = zones2.merge(rec_oth_sum, left_on='zone_id', right_on='zone_id', how='outer')
zones2 = zones2.merge(sch_grade_sum, left_on='zone_id', right_on='zone_id', how='outer')
zones2 = zones2.merge(sch_univ_sum, left_on='zone_id', right_on='zone_id', how='outer')
zones2 = zones2.merge(work_sum, left_on='zone_id', right_on='zone_id', how='outer')
zones2 = zones2.merge(work_nhb_sum, left_on='zone_id', right_on='zone_id', how='outer')

# preview table
zones2.head(10)

,zone_id,CO_TAZID,TAZID,CO_FIPS,CO_NAME,geometry,disc_abk,disc_pbk,mnt_abk,mnt_pbk,mntnhb_abk,mntnhb_pbk,recfam_abk,recfam_pbk,reclng_abk,reclng_pbk,recoth_abk,recoth_pbk,grade_abk,grade_pbk,univ_abk,univ_pbk,wrk_abk,wrk_pbk,wrknhb_abk,wrknhb_pbk
0,0,492865,2865,49,UTAH,"POLYGON ((418396.570 4417981.610, 418397.630 4...",0.985870,0.049596,1.718648,0.101542,0.454319,0.718395,0.277033,0.018385,0.726015,0.047873,-1.000000,-1.0,0.198547,-1.0,-1.000000,-1.0,0.294602,-1.0,0.167514,-1.0
1,1,492866,2866,49,UTAH,"POLYGON ((423007.670 4418636.270, 423008.000 4...",0.157203,0.154829,0.285317,0.309621,0.091350,0.119263,0.047570,0.055153,0.124059,0.143632,-1.000000,-1.0,0.049417,-1.0,-1.000000,-1.0,0.065639,-1.0,0.012517,-1.0
2,2,492824,2824,49,UTAH,"POLYGON ((435111.965 4421936.223, 435110.907 4...",0.006641,-1.000000,0.015840,-1.000000,0.001212,-1.000000,0.003123,-1.000000,0.008217,-1.000000,-1.000000,-1.0,0.010070,-1.0,-1.000000,-1.0,0.017219,-1.0,0.001184,-1.0
3,3,492866,2866,49,UTAH,"POLYGON ((423088.410 4422072.820, 423088.600 4...",0.132361,0.188793,0.259416,0.367789,0.190806,0.108436,0.046088,0.064350,0.119236,0.167586,0.000649,-1.0,0.038783,-1.0,-1.000000,-1.0,0.067356,-1.0,0.019688,-1.0
4,4,492868,2868,49,UTAH,"POLYGON ((423542.900 4421654.700, 423191.400 4...",0.231966,0.138158,0.451634,0.235422,0.261382,0.188783,0.079902,0.036779,0.206214,0.095837,0.000126,-1.0,0.025991,-1.0,-1.000000,-1.0,0.037424,-1.0,0.028197,-1.0
5,5,492867,2867,49,UTAH,"POLYGON ((422854.600 4422073.200, 422775.100 4...",0.184078,0.735353,0.362810,1.265678,0.215433,0.151654,0.064345,0.202272,0.166925,0.531493,0.000226,-1.0,0.011808,-1.0,-1.000000,-1.0,0.020498,-1.0,0.013890,-1.0
6,6,492867,2867,49,UTAH,"POLYGON ((423088.410 4422072.820, 423088.259 4...",0.147580,0.935904,0.287339,1.610863,0.178463,0.120108,0.051062,0.257437,0.131172,0.677264,0.000138,-1.0,0.013600,-1.0,-1.000000,-1.0,0.023346,-1.0,0.020435,-1.0
7,7,492868,2868,49,UTAH,"POLYGON ((423335.300 4422422.400, 423335.300 4...",0.231933,0.863488,0.451591,1.471388,0.261382,0.188765,0.080008,0.229866,0.206241,0.601705,0.000126,-1.0,0.025991,-1.0,-1.000000,-1.0,0.037424,-1.0,0.028197,-1.0
8,8,492825,2825,49,UTAH,"POLYGON ((431175.999 4421878.535, 431175.950 4...",0.129493,-1.000000,0.257371,-1.000000,0.087884,-1.000000,0.045507,-1.000000,0.121186,-1.000000,0.002959,-1.0,0.101080,-1.0,0.000054,-1.0,0.180304,-1.0,0.021979,-1.0
9,9,492867,2867,49,UTAH,"POLYGON ((422852.000 4422423.700, 422736.400 4...",0.143838,0.735353,0.283213,1.265678,0.179752,0.118383,0.050422,0.202272,0.130194,0.532010,0.000170,-1.0,0.010203,-1.0,-1.000000,-1.0,0.015769,-1.0,0.011256,-1.0

In [36]:
# Fill NAs with -1, then export to shape
zones2.fillna(-1).to_file(r".\Results\Microzone_Trip_Summaries.shp")

## Get Centroid Nodes

In [65]:
nodes = gpd.read_file(r".\Data\nodes.shp")
nodes['node_id'] = nodes.index
nodes.shape

(108565, 28)

In [75]:
nodes2 = nodes[['node_id', 'xcoord', 'ycoord', 'zcoord', 'geometry']].copy()
centroids = nodes2.merge(zones[['NODE_ID', 'zone_id']], left_on='node_id', right_on='NODE_ID', how='inner')
print(centroids.columns)

Index(['node_id', 'xcoord', 'ycoord', 'zcoord', 'geometry', 'NODE_ID',
       'zone_id'],
      dtype='object')

In [76]:
centroids = centroids[['node_id', 'xcoord', 'ycoord', 'zcoord', 'zone_id', 'geometry']].copy()
centroids.to_file(r".\Results\Microzone_Centroids.shp")